@media screen and (max-width: 1300px){
    #searchBox{
        visibility: collapse;
        width: 0;
    }
    #floating_button{
        visibility: visible;
    }
    body{
        width: fit-content;
        height: fit-content;
    }
}
@media screen and (max-width: 1000px){
    #informationboxes{
        grid-template-columns: 1fr;
    }
}