#inputbox{
    margin: 0px 25px 5px;
    padding: 5px;
    border-radius: 10px;
    width: 80%;
}
#RefreshDiv{
    line-height: 5px;
    padding: 5px;
    text-align: center;
}
#refresh{
    padding: 5px 30px 5px;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    background-color: #00147B;
    cursor: pointer;
}
#refresh:active{
    background-color: white;
    color: #00147B;
}